@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 334 0% 100%;
    --foreground: 334 0% 3.9%;

    --card: 334 0% 100%;
    --card-foreground: 334 0% 3.9%;

    --popover: 334 0% 100%;
    --popover-foreground: 334 0% 3.9%;

    --primary: 334 59% 41%;
    --primary-foreground: 334 0% 98%;

    --secondary: 334 0% 96.1%;
    --secondary-foreground: 334 0% 9%;

    --muted: 334 0% 96.1%;
    --muted-foreground: 334 0% 45.1%;

    --accent: 334 0% 96.1%;
    --accent-foreground: 334 0% 9%;

    --destructive: 334 84.2% 60.2%;
    --destructive-foreground: 334 0% 98%;

    --border: 334 0% 89.8%;
    --input: 334 0% 89.8%;
    --ring: 334 59% 41%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 334 0% 3.9%;
    --foreground: 334 0% 98%;

    --card: 334 0% 3.9%;
    --card-foreground: 334 0% 98%;

    --popover: 334 0% 3.9%;
    --popover-foreground: 334 0% 98%;

    --primary: 334 59% 41%;
    --primary-foreground: 334 0% 98%;

    --secondary: 334 0% 14.9%;
    --secondary-foreground: 334 0% 98%;

    --muted: 334 0% 14.9%;
    --muted-foreground: 334 0% 63.9%;

    --accent: 334 0% 14.9%;
    --accent-foreground: 334 0% 98%;

    --destructive: 334 62.8% 30.6%;
    --destructive-foreground: 334 0% 98%;

    --border: 334 0% 14.9%;
    --input: 334 0% 14.9%;
    --ring: 334 59% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

